[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==3.1.1"
aiomysql = "*"
cryptography = "*"
pymongo = "*"
aiohttp = "*"
bcrypt = "*"
pyjwt = "*"
python-magic = "*"
requests = "*"
pytest = "*"
motor = "*"
aioredis = "*"
dataclasses-jsonschema = "*"

[dev-packages]
autoflake = "*"
mypy = "==1.6.1"
black = "==22.12.0"
isort = "==5.12.0"
flake8 = "==6.1.0"
bandit = "==1.7.5"
pip-audit = "==2.4.12"
types-cachetools = "*"
types-decorator = "*"
types-PyYAML = "*"
types-requests = "*"
pylint = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.10"
